﻿@{
    ViewBag.Title = "Contact List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/buttons.dataTables.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.1.1.js"></script>
 <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/data-table.js"></script>

<div ng-app="ContactList" ng-controller="ContactCtrl">
    <h2>Contact</h2>
    <form>
        <div class="col-sm-12">
            <div><input type="hidden" ng-model="c.Id" /></div>
            <div class="col-sm-3"><input type="text" placeholder="First Name" class="form-control" ng-model="c.FirstName" id="firstName" /></div>
            <div class="col-sm-3"><input type="text" placeholder="Last Name" class="form-control" ng-model="c.LastName" /></div>
            <div class="col-sm-3"><input type="text" placeholder="Address" class="form-control" ng-model="c.Address" /></div>
            <div class="col-sm-3">
                <input type="submit" value="Save" class="btn btn-primary" ng-click="addContact(c);" ng-hide="IsInEditMode" />
                <input type="submit" value="Edit" class="btn btn-primary" ng-click="editContact(c);" ng-show="IsInEditMode" />
                <input type="button" value="Cancel" class="btn btn-default" ng-click="clearFields();" />
            </div>
        </div>
    </form><br />
    <div ng-show="haveContacts();">
        <h2>Contact List</h2>
        <hr />
        <table class="table table-bordered table-condensed">
            <tr>
                <td>Search By:</td>
                <td>
                    <select ng-model="SelectedCriteria" ng-options="S for S in Selectors"></select>
                </td>
                <td>Enter Search Value:</td>
                <td>
                    <input type="text" ng-model="filterValue" class="form-control" />
                </td>
                <td>
                    <input type="submit" value="Search" class="btn btn-primary" ng-click="getFilteredData();" />
                </td>
            </tr>
        </table>
         <table id="Contacts" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>FirstName</td>
                    <td>LastName</td>
                    <td>Address</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contacts">
                    <td>{{contact.Id}}</td>
                    <td>{{contact.FirstName}}</td>
                    <td>{{contact.LastName}}</td>
                    <td>{{contact.Address}}</td>
                    <td>
                        <input type="submit" value="EditMode" class="btn btn-primary" ng-click="doEdit(contact);" />|
                        <input type="button" class="btn btn-warning" style="color:white" value="Delete" ng-click="deleteContact(contact)" />|
                        <input type="submit" value="DetailsMode" class="btn btn-primary" ng-click="showDetails(contact);" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        </br>
        </br>
        </br>
     <div ng-show="Details">
         <form>
             <div class="col-sm-12">
                 <div><input type="hidden" ng-model="cdetail.Id" /></div>
                 <div class="col-sm-3"><input type="text" placeholder="ContactId" class="form-control" ng-model="cdetail.ContactId" id="ContactId" /></div>
                 <div class="col-sm-3"><input type="text" placeholder="ContactType" class="form-control" ng-model="cdetail.ContactType" /></div>
                 <div class="col-sm-3"><input type="text" placeholder="ContactValue" class="form-control" ng-model="cdetail.ContactValue" /></div>
                 <div class="col-sm-3">
                     <input type="submit" value="Save" class="btn btn-primary" ng-click="addContactDetail(cdetail);" ng-hide="IsInEditDetailMode" />
                     <input type="submit" value="Edit" class="btn btn-primary" ng-click="editContactDetail(cdetail);" ng-show="IsInEditDetailMode" />
                     <input type="button" value="Cancel" class="btn btn-default" ng-click="clearDetailFields();" />
                 </div>
             </div>
         </form><br />
         <table id="ContactDetails" class="table table-striped">
             <thead>
                 <tr>
                     <td>Id</td>
                     <td>ContactId</td>
                     <td>ContactType</td>
                     <td>ContactValue</td>
                     <td>Actions</td>
                 </tr>
             </thead>
             <tbody>
                 <tr ng-repeat="detail in contactdetails">
                     <td>{{detail.Id}}</td>
                     <td>{{detail.ContactId}}</td>
                     <td>{{detail.ContactType}}</td>
                     <td>{{detail.ContactValue}}</td>
                     <td>
                         <input type="submit" value="EditDetailMode" class="btn btn-primary" ng-click="doEditDetail(detail);" />|
                         <input type="button" class="btn btn-warning" style="color:white" value="DeleteDetail" ng-click="deleteContactDetail(detail)" />|
                     </td>
                 </tr>
             </tbody>
         </table>
     </div> 
      
        
    
</div>

@section scripts{
    <script type="text/javascript">

        var myContact = angular.module("ContactList", []);

        myContact.service("Repo", ["$http", function ($http) {
            // Add new Contact
            this.addContact = function (cont) {
                var contactObj = { "Id": cont.Id, "FirstName": cont.FirstName, "LastName": cont.LastName, "Address": cont.Address }
                var config = { method: "POST", url: "@Url.Action("Create", "Contact")", data: contactObj };
                return $http(config);
            };

            this.addContactDetail = function (contdetail) {
                //alert(contdetail.ContactValue);
                var contactObj = { "Id": contdetail.Id, "ContactId": contdetail.ContactId, "ContactType": contdetail.ContactType, "ContactValue": contdetail.ContactValue }
                var config = { method: "POST", url: "@Url.Action("CreateDetail", "Contact")", data: contactObj };
                return $http(config);
            };

            // Get All Contacts
            this.GetContacts = function () {
                return $http.get('/Contact/GetAllContacts');
            };

            
            this.getfilteredData = function (filter, value) {
                var res;
                if (value.length == 0) {
                    res = $http.get("/Contact");
                    return res;
                } else {
                    var url = "/Contact/GetContactsByParameter/?filter=" + filter + "&value=" + value;
                    //alert(url);
                    res = $http.get(url);
                    return res;
                }

            };
                
            

            this.GetContactDetailsById = function (id) {
               var contactObj = { "Id": id };
               var config = { method: "GET", url: "@Url.Action("GetContactDetailsById", "Contact")", data: id };
                return $http.get('/Contact/GetContactDetailsById/?id='+id)
            };

            this.checkDetails = function (id) {
                var contactObj = { "Id": id };
                var config = { method: "GET", url: "@Url.Action("CheckDetails", "Contact")", data: id };
                return $http.get('/Contact/CheckDetails/?id='+id)
            };

            this.hasMasterData = function (id) {
                var contactObj = { "Id": id };
                var config = { method: "GET", url: "@Url.Action("HasMasterData", "Contact")", data: id };
            return $http.get('/Contact/HasMasterData/?id='+id)
        };

            // Get Single Contact
            this.GetContact = function (id) {
                var config = { method: "GET", url: "@Url.Action("GetContact", "Contact")", data: Id };
                $http(config)
                    .success(function (data, status, header, config) {
                        alert(data);
                    }).error(function (data, status, header, config) {
                        alert("Error: Something went wrong");
                    });
            };

            // Edit Contact
            this.editContact = function (cont) {
                var contactObj = { "Id": cont.Id, "FirstName": cont.FirstName, "LastName": cont.LastName, "Address": cont.Address };
                var config = { method: "POST", url: "@Url.Action("Update", "Contact")", data: contactObj };
                return $http(config);
            };

            this.editContactDetail = function (contdetail) {
                var contactObj = { "Id": contdetail.Id, "ContactId": contdetail.ContactId, "ContactType": contdetail.ContactType, "ContactValue": contdetail.ContactValue };
                var config = { method: "POST", url: "@Url.Action("UpdateDetail", "Contact")", data: contactObj };
                return $http(config);
            };

            // Delete Contact
            this.deleteContact = function (id) {
                var contactObj = { "Id": id };
                var config = { method: "POST", url: "@Url.Action("Delete", "Contact")", data: contactObj };
                return $http(config);
            };

            this.deleteContactDetail = function (id) {
                var contactObj = { "Id": id };
                var config = { method: "POST", url: "@Url.Action("DeleteDetail", "Contact")", data: contactObj };
                return $http(config);
            };
        }]);

        myContact.controller("ContactCtrl", ["$scope", "$window", "Repo", function ($scope, $window, Repo) {
            $scope.contacts = [];
            $scope.contactdetails = [];
            $scope.c = { Id: "", FirstName: "", LastName: "", Address: "" };
            $scope.cdetail = { Id: "", ContactId: "", ContactType: "", ContactValue: "" };

            // Flag variable to check if the form is in edit mode - initially set to false
            $scope.IsInEditMode = false;
            $scope.Details = false;
            $scope.Selectors = ["FirstName", "LastName", "Address"];
            $scope.SelectedCriteria = ""; //The Object used for selecting value from <option>
            $scope.filterValue = ""; //The object used to read value entered into textbox for filtering information from table
            $scope.IsInEditDetailMode = false;
            $scope.currentid = 0;

            clearFields = function () {
                $scope.c.Id = "";
                $scope.c.FirstName = "";
                $scope.c.LastName = "";
                $scope.c.Address = "";
                $scope.IsInEditMode = false;
            };
            $scope.clearFields = clearFields;

            clearDetailFields = function () {
                $scope.cdetail.Id = "";
                $scope.cdetail.ContactId = "";
                $scope.cdetail.ContactType = "";
                $scope.cdetail.ContactValue = "";
                $scope.IsInEditDetailMode = false;
            };
            $scope.clearDetailFields = clearDetailFields;


            getContacts = function () {
                Repo.GetContacts().then(function (d) {
                    $scope.contacts = d.data;
                },
                 function () {
                     alert('Failed');
                 });
               
            };

            $scope.getFilteredData = function () {
                //alert($scope.SelectedCriteria);
                var promise = Repo.getfilteredData($scope.SelectedCriteria, $scope.filterValue);
                promise.then(function (resp) {
                    $scope.contacts = resp.data;
                    $scope.Message = "Call is Completed Successfully";
                }, function (err) {
                    $scope.Message = "Call Failed " + err.status;
                });
            };

            getContactDetails = function (id) {
                $scope.currentid = id;
                Repo.GetContactDetailsById(id).then(function (d) {
                    $scope.contactdetails = d.data;
                },
                 function () {
                     alert('Failed');
                 });
               
            };



            showDetails = function (contact) {

                $scope.Details = true;
                getContactDetails(contact.Id);
            };

            $scope.showDetails = showDetails;

           

            addContact = function (contact) {

                if ((contact.FirstName === "") || (contact.LastName === "") || (contact.Address === ""))
                {
                    $window.alert("Input fields cannot be blank.");
                    return;
                }
                Repo.addContact(contact).then(function (data) {
                    getContacts();
                    clearFields();
                    //$scope.IsInEditMode = false;
                    //$("#firstName").focus();
                },
                 function () {
                     alert('Failed');
                 });

              
            };
            $scope.addContact = addContact;


            addContactDetail = function (contactdetail) {
                //alert($scope.currentid);
                //if ((contactdetail.ContactId === "") || (contactdetail.ContactType === "") || (contactdetail.ContactValue === "")) {
                //    $window.alert("Input fields cannot be blank.");
                //    return;
                //}

                var status="";
                Repo.hasMasterData(contactdetail.ContactId).then(function(d)
                {
                    status = d.data;
                    //alert(status);
                    if(status=="NoData")
                    {
                        $window.alert("Contact detail cannot be added,it has no record in master table!");
                        clearDetailFields();
                        return;           
                    }
                    Repo.addContactDetail(contactdetail).then(function (data) {
                        getContactDetails($scope.currentid);
                        clearDetailFields();
                        //$scope.IsInEditDetailMode = false;
                       
                    },
                 function () {
                     alert('Failed');
                 });
                },
                function () {
                    alert('Failed to get details info');
                });
                
            };

            $scope.addContactDetail = addContactDetail;

            doEdit = function (contact) {
                var localCopy = angular.copy(contact);
                $scope.c.Id = localCopy.Id;
                $scope.c.FirstName = localCopy.FirstName;
                $scope.c.LastName = localCopy.LastName;
                $scope.c.Address = localCopy.Address;

                $scope.IsInEditMode = true;
            };
            $scope.doEdit = doEdit;

            doEditDetail = function (contactdetail) {
                var localCopy = angular.copy(contactdetail);
                $scope.cdetail.Id = localCopy.Id;
                $scope.cdetail.ContactId = localCopy.ContactId;
                $scope.cdetail.ContactType = localCopy.ContactType;
                $scope.cdetail.ContactValue = localCopy.ContactValue;

                $scope.IsInEditDetailMode = true;
            };
            $scope.doEditDetail = doEditDetail;



            editContact = function (xContact) {

                //if ((contact.FirstName === "") || (contact.LastName === "") || (contact.Address === "")) {
                //    $window.alert("Input fields cannot be blank.");
                //    return;
                //}
                //alert(xContact.FirstName);
                Repo.editContact(xContact).then(function (data) {
                    getContacts();
                    clearFields();
                    //$scope.IsInEditMode = false;
                },
                 function () {
                     alert('Failed');
                 });

                
            };
            $scope.editContact = editContact;

            editContactDetail = function (xContactDetail) {

                //if ((contact.FirstName === "") || (contact.LastName === "") || (contact.Address === "")) {
                //    $window.alert("Input fields cannot be blank.");
                //    return;
                //}

                var status = "";
                Repo.hasMasterData(xContactDetail.ContactId).then(function (d) {
                    status = d.data;
                    //alert(status);
                    if (status == "NoData") {
                        $window.alert("Contact detail cannot be updated,it has no record in master table!");
                        clearDetailFields();
                        return;
                    }
                    Repo.editContactDetail(xContactDetail).then(function (data) {
                        getContactDetails($scope.currentid);
                        clearDetailFields();
                        //$scope.IsInEditDetailMode = false;

                    },
                 function () {
                     alert('Failed');
                 });
                },
                function () {
                    alert('Failed to get details info');
                });


            };
            $scope.editContactDetail = editContactDetail;

            deleteContact = function (contact) {
                if ($window.confirm("Are you sure you want to delete the user '" + contact.FirstName + " " + contact.LastName + "'?")) {
                    var status="";
                    Repo.checkDetails(contact.Id).then(function(d)
                    {
                        status = d.data;
                        //alert(status);
                      if(status=="HasDetails")
                      {
                          $window.alert("Contact cannot be deleted,it has details!");
                          return;           
                      }
                      
                      Repo.deleteContact(contact.Id).then(function (data) {
                          getContacts();
                          clearFields();
                          //$scope.IsInEditMode = false;
                      },
                      function () {
                          alert('Failed');
                      });
                    },
                 function () {
                     alert('Failed to get details info');
                 });
                          
                }
  
            };
            $scope.deleteContact = deleteContact;

            deleteContactDetail = function (contactdetail) {
                if ($window.confirm("Are you sure you want to delete the contact detail '" + contactdetail.ContactType + " " + contactdetail.ContactValue + "'?")) {
                    Repo.deleteContactDetail(contactdetail.Id).then(function (data) {
                        getContactDetails($scope.currentid);
                        clearDetailFields();
                        //$scope.IsInEditDetailMode = false;
                    },
                 function () {
                     alert('Failed');
                 });

                }

            };
            $scope.deleteContactDetail = deleteContactDetail;

            haveContacts = function () {
                return $scope.contacts.length > 0 ? true : false;
            }
            $scope.haveContacts = haveContacts;      

            clearFields();

            getContacts();

        }]);
    </script>
}